<div id="carousel-template" class="carousel slide bb-dark" data-ride="carousel" data-tpl>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img
                src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            <div class="carousel-caption">
                <h3>Описание <a href="https://getbootstrap.com/docs/3.4/javascript/#carousel"
                        target="_blank">компонента</a></h3>
            </div>
        </div>
        <div class="item">
            <img
                src="https://images.unsplash.com/photo-1470115636492-6d2b56f9146d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
            <div class="carousel-caption">
                <h3>Важно!</h3>
                <p>Если каруселей на одной странице несколько, <code>id</code> и другие атрибуты со значением
                    <br><code>carousel-template</code> в разметке должны быть изменены на другое уникальное имя</p>
            </div>
        </div>
        <div class="item">
            <img
                src="https://images.unsplash.com/photo-1505567745926-ba89000d255a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
        </div>
    </div>
    <a class="left carousel-control" href="#carousel-template" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-template" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<p>&nbsp;</p>