<div class="container bb-cover bb-dark"
    style="background-image: url(https://images.unsplash.com/photo-1501471984908-815b996862f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);"
    data-tpl>
    <div class="row">
        <div class="col-md-6 col-xs-3"></div>
        <div class="col-md-6 col-xs-9 py-30v">
            <h2>Заголовок</h2>
            <p>Текст темного блока справа</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>