<div class="container bb-cover"
    style="background-image: url(https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);"
    data-tpl>
    <div class="row">
        <div class="col-md-12 text-center py-30v">
            <h1>Заголовок</h1>
            <p>Текст блока по центру</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>