<div class="container bb-cover bb-dark"
    style="background-image: url(https://images.unsplash.com/photo-1494587351196-bbf5f29cff42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80);"
    data-tpl>
    <div class="row">
        <div class="col-md-12 text-center py-30v">
            <h1>Заголовок</h1>
            <p>Текст темного блока по центру</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>