<div class="container bb-cover bb-dark"
    style="background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80);"
    data-tpl>
    <div class="row">
        <div class="col-md-6 col-xs-9 text-right py-30v">
            <h2>Заголовок</h2>
            <p>Текст темного блока слева</p>
        </div>
        <div class="col-md-6 col-xs-3"></div>
    </div>
</div>
<p>&nbsp;</p>