<div class="container bb-dark bb-cover" style="background-image: url(./images/key2-bg.jpg)" data-tpl>
    <div class="row d-flex align-items-center">
        <div class="col-md-4 col-xs-12"><img class="img-responsive" src="./images/key-2-front-view.png" />
        </div>
        <div class="col-md-8 col-xs-12">
            <div class="text-center mx-auto my-10v"><img class="img-responsive" src="./images/key2-logo.png" />
            </div>
            <div class="text-center mx-auto"><img class="img-responsive" src="./images/legend-subtitle.png" />
            </div>
            <p class="my-10v px-6 text-center">Ультра-интеллектуальная клавиатура и батарея повышенной мощности в новом
                BlackBerry KEY2 на базе Android</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>