<div class="bb-features bb-features-blue" data-tpl>
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Особенности</h2>
            <p class="text-center">Краткое описание</p>
        </div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-map-marker icon"></i>
                <h3 class="name">Works everywhere</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est. Aenean tortor est, vulputate quis leo in,
                    vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.
                    Aliquam varius finibus est.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-time icon"></i>
                <h3 class="name">Always available</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-list-alt icon"></i>
                <h3 class="name">Customizable</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-leaf icon"></i>
                <h3 class="name">Organic</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-plane icon"></i>
                <h3 class="name">Fast</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-phone icon"></i>
                <h3 class="name">Mobile-first</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent
                    aliquam in tellus eu gravida. Aliquam varius finibus est.</p>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>