<div class="bb-photo-gallery container" data-tpl>
    <div class="row photos">
        <div class="col-lg-3 col-md-4 col-sm-6 item"><a data-lightbox="photos"
                href="https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80"><img
                    class="img-responsive"
                    src="https://images.unsplash.com/photo-1518837695005-2083093ee35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 item"><a data-lightbox="photos"
                href="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80"><img
                    class="img-responsive"
                    src="https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 item"><a data-lightbox="photos"
                href="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80"><img
                    class="img-responsive"
                    src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80" /></a>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 item"><a data-lightbox="photos"
                href="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80"><img
                    class="img-responsive"
                    src="https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=640&q=80" /></a>
        </div>
    </div>
</div>
<p>&nbsp;</p>