<div class="container" data-tpl>
    <div class="row d-flex">
        <div class="col-xs-12 col-sm-6"><img class="img-responsive"
                src="https://images.unsplash.com/photo-1524275804141-5e9f2bc5a71d?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=80" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <h3>Заголовок</h3>
            <p>Текст блока</p>
        </div>
    </div>
</div>
<p>&nbsp;</p>