<div class="embed-responsive embed-responsive-16by9" data-tpl>
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/V_Jurr5yinY?rel=0" width="100%"
        height="100%" allowfullscreen></iframe>
</div>
<p>&nbsp;</p>