/* Bootstrap related for TinyMCE */
div {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mce-content-body {
    padding: 8px;
}

*[data-container],
*[class]:not([class|="mce"]) {
    outline: 1px dashed #dedede;
    position: relative;
}

*[data-container] {
    outline-color: #ff0000;
    padding: 12px;
}

*[class]:not([class|="mce"]):hover {
    outline-color: #6b6b6b;
}

*[data-container]:after,
*[class]:not([class|="mce"]):after {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 10px;
    white-space: nowrap;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 6px;
    z-index: 10;
}

*[class]:not([class|="mce"]):after {
    content: attr(class);
    background-color: rgba(99, 164, 0, 0.7);
    opacity: 0;
}

*[data-container]:after {
    background-color: rgba(255, 0, 0, 0.7);
    opacity: 0.3;
}

*[data-container="description"]:after {
    content: 'Описание';
}

*[data-container="features"]:after {
    content: 'Спецификации';
}

*[data-container]:hover:after,
*[class]:not([class|="mce"]):hover:after {
    opacity: 0.85;
}

.container:hover:after {
    background-color: #722aa8 !important;
}

.row:hover:after {
    background-color: #a86200 !important;
}

.row > *:hover:after {
    background-color: #a80c63 !important;
}

*[class*="bb"]:hover:after {
    background-color: #037da8 !important;
}

.bb-photo-gallery,
.bb-photo-gallery .row,
.bb-cover > .row {
    display: flex;
}

.bb-photo-gallery .row {
    flex-flow: wrap;
}

.carousel-indicators,
.carousel-control {
    display: none;
}

.carousel-inner > .item {
    display: flex !important;
}

.carousel-inner > .item:not(.bb-cards) {
    flex-flow: column;
}

.carousel-inner .item .carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
}

*[class] + p:not([class]) {
    outline: 1px dashed #aed581;
}

*[class] + p:not([class]):hover {
    outline-color: #63a400;
}

.mce-preview-object.mce-object-iframe {
    display: block;
}

.embed-responsive.embed-responsive-21by9 > .mce-preview-object.mce-object-iframe {
    height: 42.86vw;
}

.embed-responsive.embed-responsive-16by9 > .mce-preview-object.mce-object-iframe {
    height: 56.25vw;
}

.embed-responsive.embed-responsive-4by3 > .mce-preview-object.mce-object-iframe {
    height: 75vw;
}

.embed-responsive.embed-responsive-1by1 > .mce-preview-object.mce-object-iframe {
    height: 100vw;
}