/* Common */
.bb-dark {
    background-color: #000 !important;
    color: #fff !important;
}

.bb-dark.table-striped>tbody>tr:nth-child(odd)>th,
.bb-dark.table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #484848;
}

.bb-dark.table-hover>tbody>tr:hover {
    background-color: #2a2a2a;
}

.bb-cover {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-color: #fff;
    color: #000;
}

.bb-cover.bb-dark {
    text-shadow: 0 0 6px #000, 0 0 4px #000;
}

/* Features */
.bb-features {
    padding-bottom: 30px
}

.bb-features h2 {
    font-weight: 700;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit
}

@media (max-width: 767px) {
    .bb-features {
        padding-bottom: 10px;
    }

    .bb-features h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.bb-features .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px
}

.bb-features.bb-features-boxed .intro {
    margin: 0 auto;
}

.bb-features.bb-features-boxed .intro p {
    margin-bottom: 0;
}

.bb-features:not(.bb-features-boxed) .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px
}

.bb-features.bb-features-boxed .item {
    text-align: center;
}

@media (max-width: 767px) {
    .bb-features .intro {
        margin-bottom: 40px
    }

    .bb-features:not(.bb-features-boxed) .item {
        min-height: 0
    }
}

.bb-features .item .name {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit
}

.bb-features .item .description {
    font-size: 15px;
    margin-bottom: 0
}

.bb-features:not(.bb-features-boxed) .item .icon {
    font-size: 40px;
    float: left;
    margin-left: -65px
}

.bb-features-clean {
    color: #313437;
    background-color: #fff;
}

.bb-features-blue {
    color: #fff;
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
}

.bb-features-boxed {
    color: #313437;
    background-color: #eef4f7;
}

.bb-features-boxed p,
.bb-features-clean p {
    color: #7d8285
}

.bb-features-blue p {
    color: rgba(255, 255, 255, 0.6);
}

.bb-features-boxed .item .icon,
.bb-features-clean .item .icon {
    color: #4fc3f7;
}

.bb-features-blue .item .icon {
    color: #ffcc1e;
}

.bb-features-boxed .features {
    padding: 50px 0;
}

.bb-features-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.bb-features-boxed .item .icon {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.bb-features-boxed .item .name {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 0;
    color: inherit;
}

.bb-features-boxed .item .description {
    margin-top: 15px;
    margin-bottom: 20px;
}


.bb-features-boxed .row.features>.item {
    display: flex;
}

.row.features {
    display: flex;
    flex-wrap: wrap;
}

/* Gallery */
.bb-photo-gallery {
    color: #313437;
    background-color: #fff;
}

.bb-photo-gallery p {
    color: #7d8285;
}

.bb-photo-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width: 767px) {
    .bb-photo-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.bb-photo-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.bb-photo-gallery .intro p {
    margin-bottom: 0;
}

.bb-photo-gallery .photos {
    padding-bottom: 20px;
}

.bb-photo-gallery .item {
    padding-bottom: 30px;
}

/* Cards */
.bb-cards {
    align-items: baseline;
    position: relative;
    overflow: hidden;
}

.bb-cards img {
    object-fit: cover;
    width: auto;
    height: 25vh;
    z-index: 1;
    margin: 0 !important;
}

.bb-cards img+div {
    height: auto;
    z-index: 1;
    padding: 8px 36px 24px;
}

.bb-cards>.row>div[class^='col-'],
.bb-cards>.row>div[class*=' col-'] {
    display: flex;
    flex-direction: column;
}

.bb-cards:not(.bb-dark) div[class^='col-']:before,
.bb-cards:not(.bb-dark) div[class*=' col-']:before {
    background-color: #f6f6f6;
    content: '';
    display: block;
    height: 200vh;
    width: calc(100% - 30px);
    position: absolute;
    top: 0;
    left: 0;
    margin: auto 15px;
    z-index: 0;
}

@media (min-width: 992px) {
    .bb-cards {
        display: flex;
    }
}

.carousel .bb-cards img,
.carousel .bb-cards img+div {
    position: relative;
    z-index: 0;
}

.carousel .bb-cards img {
    width: 100%;
}

.carousel .bb-cards img+div {
    padding: 8px 36px 24px;
}

.carousel.bb-dark .bb-cards div[class^='col-']:before,
.carousel.bb-dark .bb-cards div[class*=' col-']:before {
    display: none;
}

.carousel-control {
    width: 7% !important;
}

/* Extra */
.add-to-cart-button {
    color: #000;
    background: #f8eb19;
    border-color: #e0cb16;
}

.add-to-cart-button:hover {
    color: #fff;
    background: #6bccdd;
    border-color: #036273;
}

iframe[allowfullscreen]:not(.embed-responsive-item) {
    position: relative;
    display: block;
    width: 100%;
    height: 56.25vw;
    max-height: 640px;
    padding: 0;
    overflow: hidden;
}

/* Margins & paddings */
.my-10v {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.py-10v {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.my-20v {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.py-20v {
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.my-30v {
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.py-30v {
    padding-top: 30vh;
    padding-bottom: 30vh;
}

.my-40v {
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.py-40v {
    padding-top: 40vh;
    padding-bottom: 40vh;
}

.my-50v {
    margin-top: 50vh;
    margin-bottom: 50vh;
}

.py-50v {
    padding-top: 50vh;
    padding-bottom: 50vh;
}

.my-60v {
    margin-top: 60vh;
    margin-bottom: 60vh;
}

.py-60v {
    padding-top: 60vh;
    padding-bottom: 60vh;
}

.my-70v {
    margin-top: 70vh;
    margin-bottom: 70vh;
}

.py-70v {
    padding-top: 70vh;
    padding-bottom: 70vh;
}

.my-80v {
    margin-top: 80vh;
    margin-bottom: 80vh;
}

.py-80v {
    padding-top: 80vh;
    padding-bottom: 80vh;
}

.my-90v {
    margin-top: 90vh;
    margin-bottom: 90vh;
}

.py-90v {
    padding-top: 90vh;
    padding-bottom: 90vh;
}

.my-100v {
    margin-top: 100vh;
    margin-bottom: 100vh;
}

.py-100v {
    padding-top: 100vh;
    padding-bottom: 100vh;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mx-1 {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.px-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.mx-2 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.mx-4 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
}

.px-4 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.mx-5 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
}

.px-5 {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

.mx-6 {
    margin-left: 6rem !important;
    margin-right: 6rem !important;
}

.px-6 {
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

.mx-7 {
    margin-left: 12rem !important;
    margin-right: 12rem !important;
}

.px-7 {
    padding-left: 12rem !important;
    padding-right: 12rem !important;
}

.mt-0 {
    margin-top: 0rem !important;
}

.mb-0 {
    margin-bottom: 0rem !important;
}

.mr-0 {
    margin-right: 0rem !important;
}

.ml-0 {
    margin-left: 0rem !important;
}

.mt-1 {
    margin-top: .25rem !important;
}

.mb-1 {
    margin-bottom: .25rem !important;
}

.mr-1 {
    margin-right: .25rem !important;
}

.ml-1 {
    margin-left: .25rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.ml-2 {
    margin-left: .5rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mr-3 {
    margin-right: 1rem !important;
}

.ml-3 {
    margin-left: 1rem !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mr-4 {
    margin-right: 1.5rem !important;
}

.ml-4 {
    margin-left: 1.5rem !important;
}

.mt-5 {
    margin-top: 3rem !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mr-5 {
    margin-right: 3rem !important;
}

.ml-5 {
    margin-left: 3rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.mr-6 {
    margin-right: 6rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.mt-7 {
    margin-top: 12rem !important;
}

.mb-7 {
    margin-bottom: 12rem !important;
}

.mr-7 {
    margin-right: 12rem !important;
}

.ml-7 {
    margin-left: 12rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pb-0 {
    padding-bottom: 0rem !important;
}

.pr-0 {
    padding-right: 0rem !important;
}

.pl-0 {
    padding-left: 0rem !important;
}

.pt-1 {
    padding-top: .25rem !important;
}

.pb-1 {
    padding-bottom: .25rem !important;
}

.pr-1 {
    padding-right: .25rem !important;
}

.pl-1 {
    padding-left: .25rem !important;
}

.pt-2 {
    padding-top: .5rem !important;
}

.pb-2 {
    padding-bottom: .5rem !important;
}

.pr-2 {
    padding-right: .5rem !important;
}

.pl-2 {
    padding-left: .5rem !important;
}

.pt-3 {
    padding-top: 1rem !important;
}

.pb-3 {
    padding-bottom: 1rem !important;
}

.pr-3 {
    padding-right: 1rem !important;
}

.pl-3 {
    padding-left: 1rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.pr-4 {
    padding-right: 1.5rem !important;
}

.pl-4 {
    padding-left: 1.5rem !important;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pr-5 {
    padding-right: 3rem !important;
}

.pl-5 {
    padding-left: 3rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pr-6 {
    padding-right: 6rem !important;
}

.pl-6 {
    padding-left: 6rem !important;
}

.pt-7 {
    padding-top: 12rem !important;
}

.pb-7 {
    padding-bottom: 12rem !important;
}

.pr-7 {
    padding-right: 12rem !important;
}

.pl-7 {
    padding-left: 12rem !important;
}

/* Flex */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-stretch {
    align-items: stretch;
}